<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>电台</string>
		<key>image</key>
		<string>music_transceiver</string>
	</dict>
	<dict>
		<key>title</key>
		<string>歌单</string>
		<key>image</key>
		<string>music_song</string>
	</dict>
	<dict>
		<key>title</key>
		<string>新歌</string>
		<key>image</key>
		<string>music_new</string>
	</dict>
	<dict>
		<key>title</key>
		<string>翻唱</string>
		<key>image</key>
		<string>music_fan</string>
	</dict>
	<dict>
		<key>title</key>
		<string>原创</string>
		<key>image</key>
		<string>music_original</string>
	</dict>
	<dict>
		<key>title</key>
		<string>明星</string>
		<key>image</key>
		<string>music_star</string>
	</dict>
	<dict>
		<key>title</key>
		<string>民谣</string>
		<key>image</key>
		<string>music_literature</string>
	</dict>
	<dict>
		<key>title</key>
		<string>纯音乐</string>
		<key>image</key>
		<string>music_lingsheng</string>
	</dict>
	<dict>
		<key>title</key>
		<string>古风</string>
		<key>image</key>
		<string>music_gufeng</string>
	</dict>
	<dict>
		<key>title</key>
		<string>古典</string>
		<key>image</key>
		<string>music_classical</string>
	</dict>
	<dict>
		<key>title</key>
		<string>电子</string>
		<key>image</key>
		<string>music_dianzi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>ACG</string>
		<key>image</key>
		<string>music_acg</string>
	</dict>
	<dict>
		<key>title</key>
		<string>影视</string>
		<key>image</key>
		<string>music_movie</string>
	</dict>
	<dict>
		<key>title</key>
		<string>老歌</string>
		<key>image</key>
		<string>music_lao</string>
	</dict>
	<dict>
		<key>title</key>
		<string>文艺</string>
		<key>image</key>
		<string>music_wenyi</string>
	</dict>
	<dict>
		<key>title</key>
		<string>睡前</string>
		<key>image</key>
		<string>music_sleep</string>
	</dict>
	<dict>
		<key>title</key>
		<string>铃声</string>
		<key>image</key>
		<string>music_lingsheng</string>
	</dict>
	<dict>
		<key>title</key>
		<string>榜单</string>
		<key>image</key>
		<string>music_dan</string>
	</dict>
</array>
</plist>
